.coverage
/docs/source/_screenshots/*.png
/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
*.egg-info/
*.egg
/.installed.cfg
*.pyc
*.codeintel
/.Python
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
/omelette
/atd
node_modules/
*.nja
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
log.html
output.xml
report.html
selenium-screenshot-*.png
/dist/collective.markitup-0.2.tar.gz
